/* css variables */
/* root */
:root{
  --color1:#011132;
  --color2:#232f47;
  --color3:#c2e7ff;
  --color4:#f6f9ff;
  --color5:#009688;

}

.text-1{
  color: var(--color1) !important;
}
.text-2{
  color: var(--color2) !important;
}
.text-3{
  color: var(--color3) !important;
}
.text-4{
  color: var(--color4) !important;
}
.text-5{
  color: var(--color5) !important;
}
.bg-1{
  background-color: var(--color1) !important;
}
.bg-2{
  background-color: var(--color2) !important;
}
.bg-3{
  background-color: var(--color3) !important;
}
.bg-4{
  
    background-color: var(--color4) !important;

}
.bg-5{
  
    background-color: var(--color5) !important;

}